In [9]:
import pandas as pd

In [10]:
# load tabular data
# NOTE: there is one more dataset (original galaxy zoo 1) that also includes overlapping galaxy classifications, with labels spiral, elliptital, irregular...
filename_mapping = pd.read_csv('../data/raw/gz2/gz2_filename_mapping.csv', header=0) # galaxies - includes mapping definition between image filenames and (dr7)objid
hart16 = pd.read_csv('../data/raw/gz2/gz2_hart16.csv', header=0) # galaxies - includes detailed (sub)classification labels using dr7objid
dr16_galaxy = pd.read_csv('../data/raw/skyserver_sdss/dr16_galaxySpecPhoto.csv', header=0) # galaxies - includes (super)classification labels, spectral data, and photo data
dr16_other = pd.read_csv('../data/raw/skyserver_sdss/dr16_otherSpecPhoto.csv', header=0)  # non-galaxy objects - includes (super)classification labels, spectral data, and photo data

/tmp/ipykernel_5356/54643594.py:5: DtypeWarning: Columns (21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  dr16_galaxy = pd.read_csv('../data/raw/skyserver_sdss/dr16_galaxySpecPhoto.csv', header=0) # galaxies - includes (super)classification labels, spectral data, and photo data

In [11]:
# rename identifier columns for improved clarity
filename_mapping.rename(columns={'objid':'dr7objid'}, inplace=True)

In [12]:
# display data heads
display(filename_mapping.head(3))
display(hart16.head(3)) # main features: [];  main labels: [gz2_class]
display(dr16_galaxy.head(3)) # main features: [clean, u, g, r, i, z];  main labels: [p_el, p_cw, p_acw, p_edge, p_dk, p_mg, p_cs, sdss_class_number, sdss_class_string, subClass, class_noqso]
display(dr16_other.head(3)) # main features: [clean, u, g, r, i, z];  main labels: [p_el, p_cw, p_acw, p_edge, p_dk, p_mg, p_cs, sdss_class_number, sdss_class_string, subClass, class_noqso]

             dr7objid    sample  asset_id
0  587722981736120347  original         1
1  587722981736579107  original         2
2  587722981741363294  original         3

,dr7objid,ra,dec,rastring,decstring,sample,gz2_class,total_classifications,total_votes,t01_smooth_or_features_a01_smooth_count,...,t11_arms_number_a36_more_than_4_fraction,t11_arms_number_a36_more_than_4_weighted_fraction,t11_arms_number_a36_more_than_4_debiased,t11_arms_number_a36_more_than_4_flag,t11_arms_number_a37_cant_tell_count,t11_arms_number_a37_cant_tell_weight,t11_arms_number_a37_cant_tell_fraction,t11_arms_number_a37_cant_tell_weighted_fraction,t11_arms_number_a37_cant_tell_debiased,t11_arms_number_a37_cant_tell_flag
0,587732591714893851,179.042984,60.522518,11:56:10.32,+60:31:21.1,original,Sc+t,45,342,0,...,0.450,0.450,0.482646,0,16,16.0,0.400,0.400,0.394506,0
1,588009368545984617,135.084396,52.494240,09:00:20.26,+52:29:39.3,original,Sb+t,42,332,1,...,0.512,0.503,0.504833,0,13,13.0,0.317,0.323,0.322743,0
2,587732484359913515,183.371979,50.741508,12:13:29.27,+50:44:29.4,original,Ei,36,125,28,...,0.000,0.000,0.000000,0,0,0.0,0.000,0.000,0.000000,0

,specobjid,dr8objid,dr7objid,ra,dec,nvote_tot,nvote_std,nvote_mr1,nvote_mr2,nvote_mon,...,clean,u,g,r,i,z,nObserve,nDetect,nEdge,score
0,299496823800752128,1237650795683446969,587725074458542267,146.9201,-0.306472,50,50,0,0,0,...,1,20.12538,18.55888,17.48915,16.98688,16.61643,8,7,0,0.843284
1,299524311591446528,1237650794609246448,587729151455068318,145.8466,-1.186778,56,56,0,0,0,...,1,20.58157,18.46743,17.45708,17.00300,16.67369,4,4,0,0.847542
2,299533932318189568,1237650795683184774,587725074458280067,146.2802,-0.406944,29,29,0,0,0,...,1,18.92301,17.10360,16.21557,15.81424,15.49273,3,3,0,0.850158

,dr8objid,specObjID,instrument,redshift,sdss_class_string,sdss_subclass_string,class_noqso,subClass_noqso,spectroFlux_u,spectroFlux_g,...,clean,u,g,r,i,z,nObserve,nDetect,nEdge,score
0,1237648672919584831,3.862170e+17,SDSS,-0.000143,STAR,F9,NaN,NaN,38.866850,99.329830,...,1,18.67422,17.42511,16.89116,16.67803,16.57392,5,5,0,0.30709
1,1237648672919585277,3.862087e+17,SDSS,-0.000031,STAR,M0,NaN,NaN,1.139624,7.169541,...,0,23.49310,20.21764,18.67241,17.88600,17.48552,3,3,2,0.30709
2,1237648673432338480,4.330295e+18,BOSS,-0.000228,STAR,M5III (221615),STAR,M5III (221615),0.380756,0.158855,...,1,24.29669,23.07930,21.09239,19.63582,18.93130,6,5,1,0.79957

In [13]:
# display dataframe shapes
display(filename_mapping.shape)
display(hart16.shape)
display(dr16_galaxy.shape)
display(dr16_other.shape)

(355990, 3)

(239695, 231)

(800627, 51)

(1000000, 36)

In [19]:
# determine number of unique labels

print(len(hart16['gz2_class'].unique())) # each class is a galaxy morphology subclass

print(len(dr16_galaxy['sdss_class_number'].unique())) # 3=galaxy, 6=star
print(len(dr16_galaxy['sdss_class_string'].unique())) # galaxy, star, qso
print(dr16_galaxy['sdss_class_string'].unique()) # print class labels for galaxy set

818
3
3
['GALAXY' 'STAR' 'QSO']

In [20]:
# evaluate the number of overlapping records in different tables

# first and second tables
merged_df = pd.merge(filename_mapping, hart16, left_on='dr7objid', right_on='dr7objid', how='inner')
print(f"Matching values: {len(merged_df['dr7objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(filename_mapping)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(hart16)) * 100}%")

# first and third tables
merged_df = pd.merge(filename_mapping, dr16_galaxy, left_on='dr7objid', right_on='dr7objid', how='inner')
print(f"Matching values: {len(merged_df['dr7objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(filename_mapping)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(dr16_galaxy)) * 100}%")

# second and third tables
merged_df = pd.merge(hart16, dr16_galaxy, left_on='dr7objid', right_on='dr7objid', how='inner')
print(f"Matching values: {len(merged_df['dr7objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(hart16)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(dr16_galaxy)) * 100}%")

# first and fourth tables

# second and fourth tables

# third and fourth tables
merged_df = pd.merge(dr16_galaxy, dr16_other['dr8objid'], left_on='dr8objid', right_on='dr8objid', how='inner')
print(f"Matching values: {len(merged_df['dr8objid'].tolist())}")
print(f"Percentage of matching values in df1: {(len(merged_df) / len(dr16_galaxy)) * 100}%")
print(f"Percentage of matching values in df2: {(len(merged_df) / len(dr16_other)) * 100}%")

Matching values: 239695
Percentage of matching values in df1: 67.33194752661592%
Percentage of matching values in df2: 100.0%
Matching values: 264429
Percentage of matching values in df1: 74.27989550268266%
Percentage of matching values in df2: 33.0277395091597%
Matching values: 237965
Percentage of matching values in df1: 99.27824944199921%
Percentage of matching values in df2: 29.7223301237655%
Matching values: 10714
Percentage of matching values in df1: 1.3382011848213962%
Percentage of matching values in df2: 1.0714%

In [21]:
# investigate some star data
display(dr16_other[dr16_other['sdss_class_string']=='STAR'].head(5))
display(dr16_other[dr16_other['sdss_class_number']==6].head(5))

,dr8objid,specObjID,instrument,redshift,sdss_class_string,sdss_subclass_string,class_noqso,subClass_noqso,spectroFlux_u,spectroFlux_g,...,clean,u,g,r,i,z,nObserve,nDetect,nEdge,score
0,1237648672919584831,3.862170e+17,SDSS,-0.000143,STAR,F9,NaN,NaN,38.866850,99.329830,...,1,18.67422,17.42511,16.89116,16.67803,16.57392,5,5,0,0.307090
1,1237648672919585277,3.862087e+17,SDSS,-0.000031,STAR,M0,NaN,NaN,1.139624,7.169541,...,0,23.49310,20.21764,18.67241,17.88600,17.48552,3,3,2,0.307090
2,1237648673432338480,4.330295e+18,BOSS,-0.000228,STAR,M5III (221615),STAR,M5III (221615),0.380756,0.158855,...,1,24.29669,23.07930,21.09239,19.63582,18.93130,6,5,1,0.799570
5,1237648673456455739,3.862241e+17,SDSS,-0.000583,STAR,A0,NaN,NaN,140.236000,238.413800,...,1,17.80781,16.46973,16.38199,16.34636,16.35388,1,1,0,0.305778
7,1237648673992540677,3.862807e+17,SDSS,0.000792,STAR,T2,NaN,NaN,-0.252333,0.343650,...,1,21.93603,21.43239,19.61494,18.70815,18.27871,1,1,0,0.338957

,dr8objid,specObjID,instrument,redshift,sdss_class_string,sdss_subclass_string,class_noqso,subClass_noqso,spectroFlux_u,spectroFlux_g,...,clean,u,g,r,i,z,nObserve,nDetect,nEdge,score
0,1237648672919584831,3.862170e+17,SDSS,-0.000143,STAR,F9,NaN,NaN,38.86685,99.32983,...,1,18.67422,17.42511,16.89116,16.67803,16.57392,5,5,0,0.307090
3,1237648673456259238,3.862351e+17,SDSS,0.762811,QSO,BROADLINE,NaN,NaN,52.37831,76.15864,...,1,18.14292,17.74537,17.58131,17.57654,17.47079,5,5,0,0.305148
4,1237648673456259550,3.862378e+17,SDSS,0.752970,QSO,BROADLINE,NaN,NaN,14.07514,21.59748,...,1,19.64502,19.15559,19.03800,19.05618,18.87563,5,5,0,0.305148
5,1237648673456455739,3.862241e+17,SDSS,-0.000583,STAR,A0,NaN,NaN,140.23600,238.41380,...,1,17.80781,16.46973,16.38199,16.34636,16.35388,1,1,0,0.305778
6,1237648673456521499,3.862236e+17,SDSS,2.832395,QSO,BROADLINE,NaN,NaN,34.38208,74.79860,...,1,19.26070,17.75067,17.52371,17.37660,17.15547,1,1,4,0.305203